.header {
  display: flex;
  background: linear-gradient(#3097f7, #0364f4);
  height: 5.5dvh;
  padding: 1vh 15vw;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 0;
}

.h1,
.h2,
.h3,
.h4 {
  color: white;
  font-weight: 500;
}

.div {
  display: flex;
  justify-content: space-between;
}

.login {
  background-color: transparent;
  border-color: transparent;
  color: white;
  padding: 5px;
  margin: 0 20px 0 0
}

.home {
  padding-left: 0px;
}

.freeTrial {
  background-color: #424547;
  color: white;
  padding: 5px;
  border-color: transparent;
}

@media (max-width: 1366px) {
  .header {
    height: 7dvh;
    padding: 2vh 15vw;
  }
}