.container {
  display: flex;
}

.imgContainer {
  height: 40px;
  width: 40px;
}

.imgCenter {
  margin: 0 1.5em;
}

.icon {
  height: 40px;
  width: 40px;
}

@media (max-width: 1366px) {
  .icon {
    height: 30px;
    width: 30px;
  }
}