.container {
  display:grid;
  grid-template-columns: repeat(6, minmax(180px, 1fr));
  gap: 16px;
  padding: 5vh 15vw;
}

@media (max-width: 768px) {
  .container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    text-align: -webkit-center;
  }
}